body {
    font-family: 'PT Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container h1 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
}

.container h2, .contact-info p {
    font-family: 'PT Sans', sans-serif;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    width: 45%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.images img:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

.contact-info {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-info h2 {
    color: #005792;
    margin-top: 30px;
}

.contact-info p {
    font-size: 18px;
    margin: 0;
}

.contact-info p strong {
    font-weight: bold;
}

.contact-emails {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .images img {
        width: 90%;
        margin: 20px 0;
    }

    .contact-info {
        width: 100%;
    }
}

